[submodule "ext/catch"]
	path = ext/catch
	url = git@github.com:catchorg/Catch2.git
	branch = v2.x
[submodule "ext/bqn"]
	path = ext/bqn
	url = https://github.com/mlochbaum/BQN
	branch = master
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = git@github.com:gabime/spdlog.git
	branch = v1.x
[submodule "ext/cbqn"]
	path = ext/cbqn
	url = git@github.com:dzaima/CBQN.git
	branch = master
