[submodule "ext/bqn"]
	path = ext/bqn
	url = https://github.com/mlochbaum/BQN
	branch = master
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "ext/cbqn"]
	path = ext/cbqn
	url = https://github.com/dzaima/CBQN.git
	branch = master
[submodule "ext/span"]
	path = ext/span
	url = https://github.com/tcbrindle/span.git
[submodule "ext/doctest"]
	path = ext/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "ext/utfcpp"]
	path = ext/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
